{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}


{% block main %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Subjects-Enrolled</b></li>
            {% for subject in subjects %}
            <li class="list-group-item">{{ subject.subject }}</li>
            {% endfor %}
        </ul>
    </div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Sessions(per subjects)</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                     <td>{{ session.session_count }}</td>
                     <td>{{ session.subject }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
