{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="auth-container">
    <h2 class="auth-heading">Welcome back</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="auth-input" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="auth-input" name="password" placeholder="Password" type="password">
        </div>
        <input class="auth-submit" type="submit" value="Log In">
    </form>
    <p class="auth-switch">Don't have an account? <a class="accent-link" href="/register">Register</a></p>
</div>
{% endblock %}
