{% extends "layout.html" %}

{% block title %}
    Setup
{% endblock %}

{% block main %}
{% if mode == "new_chat" %}
<h1>Select a subject</h1>
<form action="/setup?mode=new_chat" method="post">
    {% for subject in subjects %}
    <div>
        <input type="radio" name="subject" value="{{ subject }}" id="{{ subject }}">
        <lable for="{{ subject }}">{{ subject }}</lable>
    </div>
    {% endfor %}
    <input type="submit" value="Start Chat">
</form>
{% else %}
    <h1>Setup</h1>
    <p>Please select the difficulty level based on your level of comfortabilty with socratic learning</p>
    <form action="/setup?mode=getting_started" method="post">
        {% for difficult in difficulty %}
            <div>
                <input type="radio" name="difficulty" value="{{ difficult }}" id="{{ difficult }}">
                <label for="{{ difficult }}">{{ difficult }}</label>
            </div>
        {% endfor %}
        <p>Please select your prefered Learning style with Lumen</p>
        {% for style in Learning_styles %}
            <div>
                <input type="radio" name="learning_style" value="{{ style }}" id="{{ style }}">
                <label for="{{ style }}">{{ style }}</label>
            </div>
        {% endfor %}
        <p>Please select Your Goal for using Lumen</p>
        {% for goal in Goals %}
            <div>
                <input type="radio" name="goal" value="{{ goal }}" id="{{ goal }}">
                <label for="{{ goal }}">{{ goal }}</label>
            </div>
        {% endfor %}
        <p>Note that you can always change these settings later</p>
        <button type="submit">Submit</button>
    </form>
{% endif %}
{% endblock %}
